.product-form {
    display: flex;
    flex-direction: column;
    width:500px;
    height: auto;
    align-items:center;
    justify-content: baseline;
    border: solid 0px rgba(0, 0, 0, .5);
    border-radius: 20px;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

.product-form > label > input {
    width: 300px;
    height: 90%;
    border-radius: 5px;
    float: right;
    width: 70%;
}

.product-form > button {

    border-radius: 10px;
    border: none;
    background: rgb(34, 34, 34);
    color: white;
    margin-top: 50px;
    height: 50px;
    cursor: pointer;
    width:300px;
    margin-bottom: 10px;
}

.product-form > label {
    height: 50px;
    border-radius: 10px;
    margin: 10px;
    width: 450px;
    font-size: 20px;
    text-align: start;
    display: block;
}

.modal-content{
    border-radius: 10px;
}

.product-form > label > .checkCat{
    width: 10px;
    height: 10px;
}

.checkbox-container{
    display: flex;
    flex-wrap: wrap;
}

.checkbox-container > label{
    padding: 10px;
}

.cat-tools {
    display: flex;
    flex-direction: row;
}

.cat-container {
    display: flex;
    justify-content: space-evenly;
    width: 400px;
}

.cat-name{
   background-color:  rgb(241, 100, 30);
   color: aliceblue;
   border: 1px solid black;
   border-radius: 10px;
   padding: 0px 5px 3px 5px;
   font-size: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.product-form > label > text{
}

.remove-cat {
    cursor: pointer;
}
